<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Lemontek.org All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="#"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      LemonTek
    </a>
  </p>
   <p class="text-center text-[7pt] text-slate-500 mt-1">
    <a
      href="/terms-and-conditions"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Terms and Conditions
    </a>
  </p>
</footer>
